@model TaxiSoftWeb.Models.Seguro

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Seguro</h4>
<hr />
<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IdVehiculo" class="control-label">Movil</label>
                    <select asp-for="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="NroPoliza" class="control-label"></label>
                    <input asp-for="NroPoliza" class="form-control" />
                    <span asp-validation-for="NroPoliza" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Aseguradora" class="control-label"></label>
                    <input asp-for="Aseguradora" class="form-control" />
                    <span asp-validation-for="Aseguradora" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="VigenciaDesde" class="control-label">Vigencia Desde</label>
                    <input asp-for="VigenciaDesde" class="form-control" />
                    <span asp-validation-for="VigenciaDesde" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="VigenciaHasta" class="control-label">Vigencia Hasta</label>
                    <input asp-for="VigenciaHasta" class="form-control" />
                    <span asp-validation-for="VigenciaHasta" class="text-danger"></span>
                </div>
            </div>                         
            <div class="w-100"></div>
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
