@model TaxiSoftWeb.Models.Carnet

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Carnet</h4>
<hr />

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdCarnet" />
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="NroCarnet" class="control-label">Número de Carnet</label>
                <input asp-for="NroCarnet" class="form-control" />
                <span asp-validation-for="NroCarnet" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="VtoCarnet" class="control-label">Vencimiento</label>
                <input type="date" asp-for="VtoCarnet" class="form-control" />
                <span asp-validation-for="VtoCarnet" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
            <input type="submit" value="Guardar" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-secondary">Lista de Carnets</a>
            <a asp-controller="Conductores" asp-action="Index" class="btn btn-info">Lista de Choferes</a>
            </div>
        </div>
    </form>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCarnet" />
            <div class="form-group">
                <label asp-for="NroCarnet" class="control-label">Número de Carnet</label>
                <input asp-for="NroCarnet" class="form-control" />
                <span asp-validation-for="NroCarnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VtoCarnet" class="control-label">Vencimiento</label>
                <input type="date" asp-for="VtoCarnet" class="form-control" />
                <span asp-validation-for="VtoCarnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Lista de Carnets</a>
                <a asp-controller="Conductores" asp-action="Index" class="btn btn-info">
                    Lista de Choferes
                </a>
            </div>
        </form>
    </div>
</div>
*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
