@model TaxiSoftWeb.Models.Alerta

@{
    ViewData["Title"] = "Edit";
}
<h1>Editar</h1>

<h4>Alerta</h4>
<hr />
<div class="col-md-10">
    <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAlerta" />
            <div class="form-group col-md-6">
            <label asp-for="FechaDesde" class="control-label">Fecha de Inicio</label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
            <label asp-for="FechaHasta" class="control-label">Fecha de Fin</label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
            <label asp-for="DiasAnticipacion" class="control-label">Recordatorio</label>
                <input asp-for="DiasAnticipacion" class="form-control" />
                <span asp-validation-for="DiasAnticipacion" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
            <label asp-for="IdEstadoA" class="control-label">Estado</label>
                <select asp-for="IdEstadoA" class="form-control" asp-items="ViewBag.IdEstadoA"></select>
                <span asp-validation-for="IdEstadoA" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
