@model TaxiSoftWeb.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Movil</h4>
<hr />
<div class="col-md-10">
    <form asp-action="Edit" class="row g-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdVehiculo" />
        <div class="form-group  col-md-4">
            <label asp-for="Patente" class="control-label"></label>
            <input asp-for="Patente" class="form-control" />
            <span asp-validation-for="Patente" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Chapa" class="control-label"></label>
            <input asp-for="Chapa" class="form-control" />
            <span asp-validation-for="Chapa" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Modelo" class="control-label"></label>
            <input asp-for="Modelo" class="form-control" />
            <span asp-validation-for="Modelo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Anio" class="control-label">Año</label>
            <input asp-for="Anio" class="form-control" />
            <span asp-validation-for="Anio" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Cilindraje" class="control-label"></label>
            <input asp-for="Cilindraje" class="form-control" />
            <span asp-validation-for="Cilindraje" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NroMotor" class="control-label">Número de Motor</label>
            <input asp-for="NroMotor" class="form-control" />
            <span asp-validation-for="NroMotor" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NroChasis" class="control-label">Número de Chasis</label>
            <input asp-for="NroChasis" class="form-control" />
            <span asp-validation-for="NroChasis" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label">Vigente</label>
            <div style="justify-content:space-evenly; padding-right:inherit">
                <label class="form-check-label">Si </label>
                @Html.RadioButtonFor(m => m.Activo,"True")
                <label class="form-check-label">No</label>
                @Html.RadioButtonFor(m => m.Activo,"False")
            </div>
        </div>
        <div class="form-group col-md-4">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
