<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TaxiSoftWeb</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Theme-Adm/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme-Adm/dist/css/adminlte.css">
    <link rel="icon" type="image/x-icon" href="~/logo.ico">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


    @RenderSection("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <header>
        <partial name="_ThemeAdm/_Topbar" />
    </header>
    <section>
        <partial name="_ThemeAdm/_SideBar" />
    </section>

    <section class="content-wrapper">
        <div class="content-header">
            <article class="container-fluid">
                @RenderBody()
            </article>
        </div>
    </section>

    <footer>
        <partial name="_ThemeAdm/_Footer" />
    </footer>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Theme-Adm/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme-Adm/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme-Adm/dist/js/adminlte.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
