<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TaxiSoftWeb</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Theme-Adm/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme-Adm/dist/css/adminlte.css">
    <link rel="icon" type="image/x-icon" href="~/logo.ico">
    <!-- Estilos de tabla -->        
   <link href="~/lib/datatables/datatables-1.12.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
   <link href="~/lib/datatables/buttons-2.2.3/css/buttons.bootstrap5.css" rel="stylesheet" />
   <link href="~/lib/datatables/fixedheader-3.2.4/css/fixedheader.bootstrap5.min.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <header>
        <partial name="_ThemeAdm/_Topbar" />
    </header>
    <section>
        <partial name="_ThemeAdm/_SideBar" />
    </section>

    <section class="content-wrapper">
        <div class="content-header">
            <article class="container-fluid">
                @RenderBody()
            </article>
        </div>
    </section>

    <footer>
        <partial name="_ThemeAdm/_Footer" />
    </footer>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Theme-Adm/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme-Adm/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme-Adm/dist/js/adminlte.min.js"></script>
    <!-- Tablas -->
    <script src="~/lib/datatables/datatables-1.12.1/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/datatables-1.12.1/js/datatables.bootstrap5.min.js"></script>

    <script src="~/lib/datatables/buttons-2.2.3/js/datatables.buttons.js"></script>
    <script src="~/lib/datatables/buttons-2.2.3/js/buttons.bootstrap5.js"></script>
    <script src="~/lib/datatables/buttons-2.2.3/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/buttons-2.2.3/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables/jszip-2.5.0/jszip.min.js"></script>
    <script src="~/lib/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/lib/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/lib/datatables/buttons-2.2.3/js/buttons.colvis.min.js"></script>
    <script src="~/lib/datatables/fixedheader-3.2.4/js/fixedheader.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    url: "/lib/datatables/es-es.json",
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: "Exportar a Excel",
                        className: "btn btn-info"
                    },
                    {
                        extend: 'pdfHtml5',
                        text: "Exportar a PDF",
                        className: "btn btn-info"
                    },
                    {
                        extend: 'print',
                        className: "btn btn-info"
                    },
                    {
                        extend: 'copyHtml5',
                        className: "btn btn-info"
                    },
                    {
                        extend: 'colvis',
                        text: "Mostrar",
                        className: "btn btn-info"
                    }
                ]
            });
        });
    </script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
