@model TaxiSoftWeb.Models.RegistrosDeCaja

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Registro de Caja</h4>
<hr />

<div class="col-md-10">
    <form asp-action="Edit" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdRegistroCaja" />
        <div class="form-group col-md-3">
            <label asp-for="FechaRegisCaja" class="control-label">Fecha</label>
            <input asp-for="FechaRegisCaja" class="form-control" />
            <span asp-validation-for="FechaRegisCaja" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdCaja" class="control-label">Caja</label>
            <select asp-for="IdCaja" class="form-control" asp-items="ViewBag.IdCaja"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdOperacion" class="control-label">Operación</label>
            <select asp-for="IdOperacion" class="form-control" asp-items="ViewBag.IdOperacion"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Importe" class="control-label"></label>
            <input asp-for="Importe" class="form-control" />
            <span asp-validation-for="Importe" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdTurno" class="control-label">Turno</label>
            <select asp-for="IdTurno" class="form-control" asp-items="ViewBag.IdTurno"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdVehiculo" class="control-label">Movil</label>
            <select asp-for="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Cuil" class="control-label"></label>
            <select asp-for="Cuil" class="form-control" asp-items="ViewBag.Cuil"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Concepto" class="control-label"></label>
            <textarea asp-for="Concepto" class="form-control"></textarea>
            <span asp-validation-for="Concepto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
