@model TaxiSoftWeb.Models.Conductore

@{
    ViewData["Title"] = "Create";
}

<h1>Cargar</h1>

<h4>Chofer</h4>
<hr />
<div class="container">
     <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="Cuil" class="control-label"></label>
                <input asp-for="Cuil" class="form-control" />
                <span asp-validation-for="Cuil" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Telefono" class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdTurno" class="control-label">Turno</label>
                <select asp-for="IdTurno" class="form-control" asp-items="ViewBag.IdTurno">
                    <option selected>Seleccione un Turno.</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdVehiculo" class="control-label">Movil</label>
                <select asp-for="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo">
                    <option selected>Seleccione un Movil.</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdPuesto" class="control-label">Puesto</label>
                <select asp-for="IdPuesto" class="form-control" asp-items="ViewBag.IdPuesto">
                    <option selected>Seleccione un Puesto.</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="row">
             <div class="form-group col-md-3">
            <label asp-for="IdCarnetNavigation.NroCarnet" class="control-label">Número de Carnet</label>
            <input asp-for="IdCarnetNavigation.NroCarnet" class="form-control" />
            <span asp-validation-for="IdCarnetNavigation.NroCarnet" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdCarnetNavigation.VtoCarnet" class="control-label">Fecha de Vencimiento</label>
            <input asp-for="IdCarnetNavigation.VtoCarnet" class="form-control" />
            <span asp-validation-for="IdCarnetNavigation.VtoCarnet" class="text-danger"></span>
        </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="IdDomicilioNavigation.Calle" class="control-label">Calle</label>
                <input asp-for="IdDomicilioNavigation.Calle" class="form-control" />
                <span asp-validation-for="IdDomicilioNavigation.Calle" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdDomicilioNavigation.Numero" class="control-label">Numero</label>
                <input asp-for="IdDomicilioNavigation.Numero" class="form-control" />
                <span asp-validation-for="IdDomicilioNavigation.Numero" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="IdDomicilioNavigation.Piso" class="control-label">Piso</label>
                <input asp-for="IdDomicilioNavigation.Piso" class="form-control" />
                <span asp-validation-for="IdDomicilioNavigation.Piso" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="IdDomicilioNavigation.Departamento" class="control-label">Dto.</label>
                <input asp-for="IdDomicilioNavigation.Departamento" class="form-control" />
                <span asp-validation-for="IdDomicilioNavigation.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdDomicilioNavigation.Ciudad" class="control-label">Ciudad</label>                
                <select asp-for="IdDomicilioNavigation.Ciudad" class="form-control">
                    <option selected>Seleccione la Ciudad.</option>
                    <option>Córdoba Capital</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="Cargar" class="btn btn-primary" />
        </div>

      </form>
</div>


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
